/* scss styles for notebook post */

body {
  font-family: "IBM Plex Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

footer,
.page-footer,
.nav-footer {
  font-family: "IBM Plex Sans", sans-serif;
}

.quarto-title-block,
.quarto-title .title {
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar,
.quarto-sidebar,
#TOC {
  font-family: "IBM Plex Sans", sans-serif;
}
